<footer class="footer">
    <div class="container">
        <p class="text-muted">
            With <img src="/images/svg/cardiogram.svg" height="20px" width="20px" /> from Brescia </p>
        <p class="text-muted">Icons made by
            <a href="http://www.freepik.com/" target="_blank">Freepik</a> from
            <a href="http://www.flaticon.com/" target="_blank">www.flaticon.com</a>
        </p>
    </div>
</footer>